.third-part {

    margin-left: 200px;
    margin-bottom: 400px;
     
}

.title3 {
    font-size: 48px;
    margin-left: 100px;
    margin-bottom: 10px;
}

.paragraph2 {
    font-size: 16px;
    width: 800px;
    line-height: 30px;
    top: 1512px;
    opacity: 100%;
    margin-left: 100px;
    
}

.third-part img {
    width: 457.6px;
    height: 660px;
    float: left;
    
}