.title {
    text-align: left;
    margin-top: 8%;
    margin-left: 10%;
    margin-right: 32%;
}

.through {
    text-decoration-line: line-through;
}

.title p {
    width: 600px;
    line-height: 24px;
    margin-right: 20%;
    text-align: left;
}

button {
    width: 226px;
    height: 56px;
    opacity: 100%;
    background-color: #00F3BB;
    border: none;
    margin-top: 4%;
    font-weight: bold;
    cursor: pointer;
}