* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@500&display=swap');

body {
    font-size: 50px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-family: 'IBM Plex Mono', monospace;
    font-family: 'IBM Plex Sans', sans-serif;
    font-family: 'IBM Plex Mono', monospace;
}


@media only screen and (max-width: 1200px){
    .main-container {
        width: 1440px;
    }
}

body {
    overflow-x: hidden;
    overflow-y: scroll;
    width: 1440px;

}
.tipografia-sans {
    color: #060A24;
    font-family: 'IBM Plex Sans', sans-serif;
}

.tipografia-mono {
    font-size: 1rem;
    color: #060A24;
    font-family: 'IBM Plex Mono', monospace;
}

.tipografia-semibold {
    font-size: 1.5rem ;
    color: #060A24;
    font-family: 'IBM Plex Sans', sans-serif;
}

.tipografia-mono-medium {
    font-family: 'IBM Plex Sans', sans-serif;
    color: #060A24;
    font-size: 1.125rem;
    
}

header {
    width: 1440px;
    height: 80px;
    
}


.main-container a img {
    width: 40px;
    height: 40px;
    position: absolute;
    left: 6.9%;

}


.topnav {
    background-color: #FFFFFF;
    overflow: hidden;
}


.topnav a {
  float: left;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


.topnav-right a:hover {
  background-color: #ddd;
  height: 100%;
}


.topnav-right {
  float: right;
  position: absolute;
  right: 6.9%;

}

/*------>FIRST PART<-------*/


.title {
    text-align: left;
    margin-top: 8%;
    margin-left: 10%;
    margin-right: 32%;
}

.through {
    text-decoration-line: line-through;
}

p {
    line-height: 24px;
    margin-right: 20%;
    text-align: left;
}

button {
    width: 226px;
    height: 56px;
    opacity: 100%;
    background-color: #00F3BB;
    border: none;
    margin-top: 4%;
    font-weight: bold;
}

/*------>SECOND PART<-------*/

.container {
    width: 1440px;
    height: 1042.6px;
    
}
.blue {
    background: blue;
}
.mask {
    clip-path: polygon(1440px 0px, 1440px 800px, 0px 1042.6px, 0px 200px );
}