* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@500&display=swap');

body {
    font-size: 50px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-family: 'IBM Plex Mono', monospace;
    font-family: 'IBM Plex Sans', sans-serif;
    font-family: 'IBM Plex Mono', monospace;
}


@media only screen and (max-width: 1440px){
    html, body {
        width: 1440px;
    }
}

body {
    overflow-x: hidden;
    height: 100%;

}
.tipografia-sans {
    color: #060A24;
    font-family: 'IBM Plex Sans', sans-serif;
}

.tipografia-mono {
    font-size: 1rem;
    color: #060A24;
    font-family: 'IBM Plex Mono', monospace;
}

.tipografia-semibold {
    font-size: 1.5rem ;
    color: #060A24;
    font-family: 'IBM Plex Sans', sans-serif;
}

.tipografia-mono-medium {
    font-family: 'IBM Plex Sans', sans-serif;
    color: #060A24;
    font-size: 1.125rem;
    
}





