* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@500&display=swap');

body {
    font-size: 50px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-family: 'IBM Plex Mono', monospace;
    font-family: 'IBM Plex Sans', sans-serif;
    font-family: 'IBM Plex Mono', monospace;
}


@media only screen and (max-width: 1440px){
    html, body .main-container {
        width: 1440px;
    }
}

body {
    overflow-x: hidden;
    height: 100%;

}
.tipografia-sans {
    color: #060A24;
    font-family: 'IBM Plex Sans', sans-serif;
}

.tipografia-mono {
    font-size: 1rem;
    color: #060A24;
    font-family: 'IBM Plex Mono', monospace;
}

.tipografia-semibold {
    font-size: 1.5rem ;
    color: #060A24;
    font-family: 'IBM Plex Sans', sans-serif;
}

.tipografia-mono-medium {
    font-family: 'IBM Plex Sans', sans-serif;
    color: #060A24;
    font-size: 1.125rem;
    
}

header {
    width: 1440px;
    height: 80px;
    
}


.main-container a img {
    width: 40px;
    height: 40px;
    position: absolute;
    left: 6.9%;

}


.topnav {
    background-color: #FFFFFF;
    overflow: hidden;
}


.topnav a {
  float: left;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


.topnav-right a:hover {
  background-color: #ddd;
  height: 100%;
}


.topnav-right {
  float: right;
  position: absolute;
  right: 6.9%;

}

/*------>FIRST PART<-------*/

.first-part {
    width: 1440px;
}
.title {
    text-align: left;
    margin-top: 8%;
    margin-left: 10%;
    margin-right: 32%;
}

.through {
    text-decoration-line: line-through;
}

.title p {
    width: 600px;
    line-height: 24px;
    margin-right: 20%;
    text-align: left;
}

button {
    width: 226px;
    height: 56px;
    opacity: 100%;
    background-color: #00F3BB;
    border: none;
    margin-top: 4%;
    font-weight: bold;
    cursor: pointer;
}

/*------>SECOND PART<-------*/

.container {
    width: 1440px;
    height: 1200px;
    position: relative;
}
.blue {
    background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
}
.mask {
    clip-path: polygon(100% 0%, 100% 80%, 0% 1200px, 0% 20% );
}

.title2 {
    font-size: 40px;
    color: #FFFFFF;
    font-weight: lighter;
}

.content-container {
    height: 62px;
    width: 209px;
    padding: 180px;
    margin-top: 7%;
    position: absolute;
    
  }

.link1,
.link2 {
    padding-top: 400px;
}


.spotify {
   width: 1440px;
   position: absolute;
   display: flex;
   flex-wrap: wrap;
   margin-left: 200px;
}

.link1,
.link2,
.link3,
.link4 {
    margin: 50px;
}
/*------>THIRD PART<-------*/

.third-part {

    margin-left: 200px;
    margin-bottom: 400px;
    
     
}

.title3 {
    font-size: 48px;
    margin-left: 100px;
    margin-bottom: 10px;
}

.paragraph2 {
    font-size: 16px;
    width: 800px;
    line-height: 30px;
    top: 1512px;
    opacity: 100%;
    margin-left: 100px;
}

.third-part img {
    width: 457.6px;
    height: 660px;
    float: left;
    
}

/*------>FOURTH PART<-------*/

.fourth-part {
    width: 1440px;
}

.fourth-part h4 {
    height: 62px;
    width: 600px;   
    font-size: 48px;
    margin-left: 100px;

}


.fourth-part img {
    width: 440px;
    height: 334px;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    float: left;
}

/*------>FIFTH PART<-------*/

.fifth-part {
    width: 1440px;
}
.titleFourth {
    font-size: 48px;
    width: 60%;
    padding-left: 3%;
    padding-top: 800px;
}


.items {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 1250px;
    font-size: 24px;
    margin-top: 50px;
    margin-bottom: 30px;
  }


  .items h4 {
      width: 200px;
  }


  .icon1,
  .icon2,
  .icon3,
  .icon4 {
    text-align: center;
    margin: 20px;
  }

  /*------>SIXTH PART<-------*/

  .container2 {
    width: 1440px;
    height: 500px;
    position: absolute;
    justify-content: center;
}

.mask2 {
    clip-path: polygon(100% 0%, 100% 100%, 0% 1200px, 0% 20% );
}


.sixth-part {
    height: 62px;
    width: 209px;
    padding: 180px;
    margin-top: 7%;
    position: absolute;
    text-align: center;   
    
}


.sixth-part h4 {
    font-size: 48px;
    color: #FFFFFF;
    font-weight: normal;
    width: 800px;
}


button {
    font-size: 18px;
    width: 345px;
    height: 56px;
    cursor: pointer;
    border: none;
}




